USE [master]
GO
/****** Object:  Database [yolculuk]    Script Date: 22.10.2016 13:03:57 ******/
CREATE DATABASE [yolculuk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yolculuk', FILENAME = N'C:\Users\fd\yolculuk.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'yolculuk_log', FILENAME = N'C:\Users\fd\yolculuk_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yolculuk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yolculuk]
GO
/****** Object:  Table [dbo].[bilgiler]    Script Date: 22.10.2016 13:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bilgiler](
	[Id] [int] NOT NULL,
	[adi] [nvarchar](20) NOT NULL,
	[soyadi] [nvarchar](30) NOT NULL,
	[eposta] [nvarchar](30) NOT NULL,
	[sifre] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
